a {
    text-decoration: none;
    color: rgb(42, 42, 108);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
}

.header-ttl {
    font-size: 24px;
    width: 80px;
}

.header-nav-list {
    display: flex;
    font-weight: bold;
}

.header-nav-item:not(:last-child) {
    margin-right: 30px;
}

.main {
    margin-top: 35%;
    height: 180px;
}

.main-text {
    font-size: 4.1rem;
    font-weight: lighter;
}

.main-box {
    width: 80%;
    height: 100%;
    background-color: rgb(34, 34, 121);
    position: relative;
}

.main-img {
    position: absolute;
    top: 27%;
    right: 0;
}

.main-img img {
    width: 50vw;
}